<header class="header">
	<div class="icon-menu"><span></span></div>
	<a href="index.html" class="header__logo">
		<img src="img/headerSTATUS.png" alt="logo">
	</a>
	<ul class="header__menu">
		<li><a href="section__1" class="header__menu-link anchor">SHOP</a>
			<img src="img/ARROW25623.png" alt="">
		</li>
		<li><a href="#" class="header__menu-link anchor">ABOUT</a>
			<img src="img/ARROW25623.png" alt="">
		</li>
		<li><a href="#" class="header__menu-link">CONTACT</a></li>
		<!-- <li>
			<a href="#" class="header__menu-link">Item Select</a>
			<span class="menu__arrow"></span>
			<ul class="menu__sub-list">
				<li><a href="#" class="menu__sub-link">Sub Item Select 2</a></li>
				<li><a href="#" class="menu__sub-link">Sub Item Select 3</a></li>
			</ul>
		</li> -->
	</ul>
	<div class="header__left-side">
		
		<div class="header__left-side__flag">
			<img src="img/usa-img.jpg" alt="flag">
		</div>
		<div class="header__left-side__usd">
			USD
		</div>
		<div class="header__left-side__basket">
			<img src="img/header212121122231.png" alt="basket">
		</div>
	</div>
		
</header>